/* STYLE FOR DASHBOARD PAGE */
/* h1{
    
    height: auto;
    width: 300px;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.dashboard{   
    background-color: aquamarine;
    width: 105%;
    height: 100%;
    border: 5px dashed purple;
    align-items: center;
}

.curent_value
{
    width: 99%;
    height: 99%;
    display: block;
    margin: auto;
    border: 1px solid yellow;
}
.curent_value .value
{
    width: 93%;
    height: 50%;
    background-color: cornflowerblue;
    margin-top:3%;
    margin-left: 5%;
}
.curent_value .value .main_value
{
    display:flex;
    height: 100%;
    width: 70%;
    background-color: green;
}
.curent_value .value .main_value .tem_and_ph
{
    margin-top: 6.5%;
    width: 100%;
    height: 80%;
    display: block;
}
.curent_value .value .main_value .tem_and_ph .temperature
{
    height: 50%;
    margin-top: 10%;
    width: 100%;
    background-color: bisque;
}
.curent_value .value .main_value .tem_and_ph .PH
{
    height: 50%;
    width: 100%;
    background-color: darkslategrey;
}
.curent_value .value .main_value .TDS
{
    margin-top: 15%;
    background-color: royalblue;
    height: 74%;
    width: 100%;
} 

.curent_value .volume
{
    width: 65%;
    height: 30%;
    background-color: red;
    margin-top:5%;
    margin-left: 5%;
    
}


/* .curent_value .User_infor
{


} */

