<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style_base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style_dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'device/style_device.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chart/style_chart.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'about/style_about.css' %}">

    

    {% url 'dashboard' as my_dashboard %}
    {% url 'device' as my_device %}
    {% url 'chart' as my_chart %}
    {% url 'about' as my_about %}
</head>

<body>
    <!-- COMMON PAGE -->
    <div class="header">
        <div class="logo">
            <img src="{% static "home/icon/logo_uth.png" alt=logo %}">
        </div>
        
        <div class="menu">
            <ul>
                <li><a href="{% url 'dashboard' %}"><img src="{% static "/home/icon/dashboard.png" %}"> DASHBOARD</a>
                </li>
                <li><a href="{% url 'device' %}"><img src="{% static "/home/icon/device.png" %}"> DEVICE</a> </li>
                <li><a href="{% url 'chart' %}"><img src="{% static "/home/icon/chart.png" %}"> CHART</a> </li>
                <li><a href="{% url 'about' %}"><img src="{% static "/home/icon/about.png" %}"> ABOUT</a> </li>
            </ul>
        </div>

        <div class="exit">
            <li><a href="#"><img src="{% static "/home/icon/log-out.png" alt="log-out" %}" width="30px"
                        height="30px">EXIT</a> </li>
        </div>
    </div>


    <!-- SUB PAGE -->
    {% if request.path == my_dashboard %}
    <div class="dashboard">
        {% block dashboard %}

        {% endblock %}
        
    </div>
    {% endif %}

    {% if request.path == my_device %}
    <div class="devices">
        {% block devices %}

        {% endblock %}
    </div>
    {% endif %}

    {% if request.path == my_chart %}
    <div class="chart">
        {% block chart %}

        {% endblock %}
    </div>
    {% endif %}

    {% if request.path == my_about %}
    <div class="about">
        {% block about %}

        {% endblock %}
    </div>
    {% endif %}

 


</body>

</html>