{% extends 'home/base.html' %}

{% block dashboard %}
{% load static %}

<div class="curent_value">
    <!-- TEMPERATURE -->
    <div class="value">

        <div class="main_value">

            <div class="tem_and_ph">
                <div class="temperature">
                    <img src="{% static "home/icon/temperature.png" alt="icon_temperature" %}" style = "height: 40%;width: 40%;margin-top: 13%;">
                    <span class="display" style="font-size: 60%;margin-top: 12%;">
                        <h1>temperature</h1>
                        <p>(value)</p>
                    </span>         
                </div>
                <!-- PH -->
                <div class="PH">
                    <img src="{% static "home/icon/ph.png" alt="icon_temperature" %}" style = "height: 40%;width: 40%;margin-top: 13%;">
                    <span class="display" style="font-size: 60%;margin-top: 12%;margin-left: 3%;">
                        <h1>PH</h1>
                        <p>(value)</p>
                </div>
            </div>

            <!-- TDS -->
            <div class="TDS">
                <img src="{% static "home/icon/TDS.png" alt="icon_temperature" %}" style = "height: 40%;width: 40%;margin-top: 30%;">
                <span class="display" style="font-size: 60%;margin-top: 35%;margin-left: 6%;">
                    <h1>TDS</h1>
                    <p>(value)</p>
            </div>
        </div>
        <!-- USER_INFORMATION -->
        <div class="User_infor">
            <h1>vuxuantruong</h1>
            <div class="device_status">
                <h2 style = "margin-top: 4%;font-weight: bold;">My devices<p>12345678</p><h2>
                <img src="{% static "home/icon/hydroponic.png" alt="icon_hydroponic" %}" width="50%" height="40%">  
                <p style="font-size: 200%; color: greenyellow;font-weight: bold;">status</p>   
            </div>


        </div>
    </div>
    <!-- VOLUME_BOTTLE -->
    <div class="volume">
        <div class="Acid">
        <div class="circular-progress" id="acid_progress">
            <span class="progress-value" id="acid_volume">60</span>
        </div>
        <span class="text"> ACID</span>
    </div>

    <div class="Base">
        <div class="circular-progress" id="base_progress">
            <span class="progress-value" id="base_volume">80</span>
        </div>

        <span class="text"> Base</span>
    </div>

    <div class="Nutri_A">
        <div class="circular-progress" id="nutriA_progress">
            <span class="progress-value" id="nutriA_volume">50</span>
        </div>

        <span class="text"> Nutri_A</span>
    </div>

    <div class="Nutri_B">
        <div class="circular-progress" id="nutriB_progress">
            <span class="progress-value" id="nutriB_volume">55</span>
        </div>
        <span class="text"> Nutri_B</span>
    </div> 
    
    </div>
    <img src="{% static "home/icon/images_theme_dashboard.png" alt="icon_hydroponic" %}" style="float: right;position: relative;top: -30%;width: 30%;height: 31%;border-radius: 20%;">
</div>
{% endblock %}