<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>


</head>

<body>
    <h1>Count page</h1>

    <!-- <script>
        var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/')
        ws.onopen = function(){
            console.log('Websocket is open...')
        }
        ws.onmessage = function(event) {
            console.log('Websocket is open...',event)
        }

        ws.onerror =function(event){
            console.log('Websocket is Error...',event)
        }



    </script> -->
</body>

</html>