/* STYLE FOR DASHBOARD PAGE */
/* h1{
    
    height: auto;
    width: 300px;
} */
h5{
    color: brown;
}
.about{   
    background-color: gold;
    float: right;
    margin-left: -8%;
    margin-top: 3%;
    height: 650px;
    width: 75%;
}